body {
    background-color: gainsboro;
}
.card, .boton, #oculto, #cerrar{
    border:2px solid rgb(137, 144, 112) ;
   }
.card-title,.profile{
    font-family: 'Noto Serif Ahom', serif;
    font-size: xx-large;
    font-weight: bold;
}

.card-body,.boton, #oculto{
    background: rgb(186, 177, 177);
}

 #oculto{
    padding: 18px;
}

.boton, #cerrar{
    text-decoration: none;
    color: black;
    padding: 0 7px;
}